$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html, body {
  min-width:480px;
}

body {
    background-color: #272727; //#cfc755; //#fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.ngView {
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.map-canvas {
    height: 768px;
}

.user-picture {
    height: 29px;
    width : 29px;
}

.petMapSideBarNav {
    border: solid; 
    border-width: 1px; 
    border-color: white; 
    padding: 10px;

    div {
        color:white;
        cursor: pointer;
    }
    ul > li{
        cursor: pointer;
    }
}