$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html, body {
  height: 100%;
  min-width:480px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.ngView {
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.map-canvas {
    height: 700px;
    width: 100%;
    margin: 20px;
    padding: 20px;
}

.user-picture {
    height: 29px;
    width : 29px;
}