<div id="container">
	<div ui-view="leftSide"></div>
	<div ui-view="rightSide"></div>
	<a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i>Hello</a>

	<div id="content">
		<div id="map" class="row-fluid">
			<!-- Giving the div an id="map_canvas" fix problems with twitter bootstrap affecting
			google maps -->
			<div>
				<div id="map_canvas" ui-map="googleMap" class="map-canvas"
				  ui-event="{'map-click': 'addMarker($event, $params)', 'map-zoom_changed': 'setZoomMessage(googleMap.getZoom())' }"
				  ui-options="mapOptions">
				</div>
			</div>
			<div ng-repeat="marker in googleMarkers" ui-map-marker="googleMarkers[$index]"
			  ui-event="{'map-click': 'openMarkerInfo(marker, $index)'}">
			</div>
			 
			<div ui-map-info-window="currentGoogleInfoWindow" style="height:200px">
			    <p>{{currentCheck.description}}</p>
			    <hr>
			    <p>地點：{{currentCheck.location.name}}</p>
			    <p>人氣：{{currentCheck.location.checks.length}}</p>
			    <p>地址：{{currentCheck.location.address}}</p>
			</div>
			
		</div>
	</div>

</div>

