<div id="wrapper">
	<div ui-view="leftSide"></div>
	<!-- <div id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<li class="sidebar-brand"><a href="#">PetsAdv</a></li>
			<div ng-include src="'views/login.html'" ="" ng-controller="LoginCtrl"></div>
			<accordion close-others="oneAtATime">
				<accordion-group heading="{{category.title}}" ng-repeat="category in categories" ng-click="setMarkers(category.type)">
	      			<ul>
					  <li ng-repeat="marker in googleMarkers">
					    <a ng-click="markerItemClick(marker)">{{marker.title}}</a>
					  </li>
					</ul>
	    		</accordion-group>
			</accordion>
        </ul>
	</div> -->
	<!-- <div id="menu-toggle" href="#"><i class="icon-reorder"></i>Hello</div> -->
	<a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i>Hello</a>

	<div id="page-content-wrapper">
		<div id="map" class="row-fluid">
			<!-- Giving the div an id="map_canvas" fix problems with twitter bootstrap affecting
			google maps -->
			<div>
				<div id="map_canvas" ui-map="googleMap" class="map-canvas"
				  ui-event="{'map-click': 'addMarker($event, $params)', 'map-zoom_changed': 'setZoomMessage(googleMap.getZoom())' }"
				  ui-options="mapOptions">
				</div>
			</div>
			<div ui-view="markers"></div>
		</div>
	</div>
</div>

<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("active");
});
</script>
