<div class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<a class="brand">Pet Adventure</a>
		<ul class="nav">
			<li ng-repeat="list in navBarList"><a href="{{list.url}}">{{list.name}}</a></li>
		</ul>

	    <ul class="nav pull-right">
			<li class="divider-vertical"></li>
			<li class="dropdown">
				<a class="dropdown-toggle" href="#" data-toggle="dropdown"> 登入 <strong class="caret"></strong></a>
				<div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
					<div>
						<a class="btn" ng-click="loginByFB()">
							<span class="fa-stack">
							 	<i class="fa fa-square-o fa-stack-2x" style="color:white; background:#3B5998"></i>
							  	<i class="fa fa-facebook fa-stack-1x" style="color:white"></i>
							</span>
							&nbsp;Facebook 登入
						</a>
					</div>
					<br>
				<!-- 	<form method="post" action="login" accept-charset="UTF-8">
						<input style="margin-bottom: 15px;" type="text" placeholder="Username">
						<input style="margin-bottom: 15px;" type="password" placeholder="Password">
						<input style="float: left; margin-right: 10px;" type="checkbox">
						<label class="string optional" for="user_remember_me"> 記住我</label>
						<input class="btn btn-primary btn-block" type="submit" value="登入">
					</form>
					<hr>
					<h6><a href="/#/register">沒有帳戶？</a></h6> -->
				</div>
			</li>
	    </ul>
	</div>
</div>
