<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>

<div>
    <header>account</header>
    <ul>
    {% for acc in accounts %}
        <li>
            <div>
            userid={{ acc.userid }},
            login_type={{ acc.login_type }}{% if acc.gmail %},
            gmail={{ acc.gmail }} {% endif %}
            </div>
            {% if acc.person %}
            <div style="margin-left:10px">Person Name: {{ acc.person.name }}</div>
            {% endif %} 
        </li>
    {% endfor %}
    </ul>
</div>

<div>
    <header>person</header>
    <ul>
    {% for p in people %}
        <li>
            name={{ p.name }}, gender={{ p.gender }}, email={{ p.email }}, phone={{ p.phone }}
        </li>
    {% endfor %}
    </ul>
</div>

<div>
    <header>roles</header>
    <ul>
    {% for r in roles %}
        <li>
            <div>
            {{ r._class }}
            </div>
            {% if r.person %}
            <div style="margin-left:10px">Person Name: {{ r.person.name }}</div>
            {% endif %} 
        </li>
    {% endfor %}
    </ul>
</div>

</body>
</html>
