		<script src="/s/js/common/debug.js"></script>
		<script src="/s/js/common/common_util.js"></script>
		<script src="/s/js/blog/BlogController.js"></script>
		<script src="/s/js/blog/Article.js"></script>
		<script src="/s/js/blog/blogapi.js"></script>
		
		<script src="/s/js/date.format.js"></script>
		
			<div class="span10">
				<header>
					<h1>timeline</h1>
				</header>
				<nav>
					<p>
						<a href="/">Home</a>
					</p>
				</nav>
	
				<div class='timeline row'>
					<div id='left' class="timeline-flow span6" >
						<div class='searchBar'>
							<i class='icon-search'></i>
							<input id='searchInput' type='text' placeholder="Enter keyword to filter" />
						</div>
					</div>
					<div></div>
					<div id='right' class='timeline-flow span6' style="border-left: 2px blue solid"></div>
					<div class="clearfix"></div>
				</div>
	
				<!-- for DEBUG
				<button class="btn" id='test-addArticle'>Add</button>
				<button class="btn" id="test-loadPosts">Load</button> -->
				<footer>
				</footer>
			</div>
			<script>
				var TAG = "main";
				var blogCtrl = new BlogController();
				var aContent = {
						pet_type : 'Cat',
						pet_name : 'Maggie',
						title : 'Cat is cute',
						preview_content : 'cat is as cute as Ringo'
					};
				var testIndex = 0;
				$(window).load(function() {
					//getPostsByHospitalId(5066549580791808,listPostsHandler, null);
					
				});
				
				$('#test-addArticle').click(function(){
					var a = blogCtrl.createArticle(testIndex++, aContent);
					var view = $(".timeline > div#right");
					blogCtrl.insertToView(a, view);
				});
				
				$('#test-loadPosts').click(function(){
					getPostList(listPostsHandler, null);
				});
				
				$('input#searchInput').on('input', function(){
					var str = $(this).val();
					if(str) {
						//Log.d(TAG, "change->val = "+str);
						blogCtrl.filterByText(str);
					}else{
						blogCtrl.showAll(true);
					}
				});
				
				var listPostsHandler = function(postList){
					if(typeof postList === 'undefined') return;
					var view = $(".timeline > div#right");
					Log.d('postList', postList);
					for(var key in postList) {
						Log.d(TAG, postList[key]);
						var article = new Article(postList[key]);
						blogCtrl.insertToView(article, view);
					}
				};
				
				function loadPostsByHid(hid) {
					getPostsByHospitalId(hid,listPostsHandler, null);
				}
				
				function loadPostsByPid(personId) {
					getPostsByPersonId(personId, listPostsHandler, null);
				}
			</script>
		
		
		