<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
        <form action="reg_step2" method="post">
        建立醫院 <br>
        名稱<input name='name'><br>
        簡介：<textarea name='description'></textarea><br>
        專科：<textarea name='specialty'></textarea><br>
        營業時間：<textarea name='working_hour'></textarea><br>
        地址：<input name='address'><br>
        電話：<input name='phone'><br>
        電話2：<input name='phone2'><br>
        預約：<input type='checkbox' name='bookable'><br>
        急診：<input type='checkbox' name='er'><br>
        急診條件：<textarea name='er_condition'></textarea><br>
        <input type='submit' name='submit' value='建立醫院'>
        </form>
        <br>OR<br>選擇醫院
</body>
</html>
