
<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <title>Pets FAQ - vets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/s/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    .hospital_frame{
    background-color: #EEEEEE;
    border-radius: 6px 6px 6px 6px;
    color: inherit;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    margin-bottom: 10px;
    padding: 20px 20px 20px 20px;
    }
    .hospitals_frame:after{
      clear: both;
    }
    .hospital_menu{
    clear: both;
    background-color: #EEEEEE;
    padding:10px;
    margin: 0;
    }
   
    div.container label{
      display: inline;
    }

    div.container ul label{
      display: block;
    }
    </style>
    <link href="/s/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/s/css/myFormat.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/s/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/s/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/s/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/s/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="/s/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/s/ico/favicon.png">
  </head>

<body>
    {% include 'components/navbar.html' %}
    <div class="container-fluid">
      <div class="row-fluid">
          {% include 'components/side_editMode.html' %}
        <div class="span10">
          <div class="accordion" id="accordion2">
             <div class="accordion-group">
                <div class="accordion-heading">
                  <a name="hLists" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseHospital">
                    Hopital Lists >
                  </a>
                </div>
                <div id="collapseHospital" class="accordion-body collapse in">
                  <div class="accordion-inner">
                    <div>
                      <h3>所屬醫院</h3>
                        <select name="hospitalSelect">
                          <option value="">請選擇</option>
                        </select>
                    </div>
                    <div>
                      <h3>獸醫資料</h3>
                      <span style="color:red">*</span>
                      <label>姓名</label>
                      <input name="name" type="text" class="input-block-level" placeholder="姓名">

                      <div>
                        <span style="color:red">*</span>
                        <label>性別</label>
                        <div>
                          <label class="radio inline">
                            <input type="radio" name="gender" value="M">
                            男
                          </label>
                          <label class="radio inline">
                            <input type="radio" name="gender" value="F">
                              女
                          </label>
                        </div>
                      </div>

                      <br>
                      <label>生日</label>
                      <input name="birthday" type="text" class="input-block-level" placeholder="西元年/月/日">

      
                      <label>電話</label>
                      <input name="phone" type="text" class="input-block-level" placeholder="電話">

                      <span style="color:red">*</span>
                      <label style="display:inline">電子信箱</label>
                      <input name="email" type="text" class="input-block-level" placeholder="電子信箱">

                      <label>照片</label>
                        <!-- <input name="photo" type="image" src='s/img/tmpPic.png' class="image" >-->
                      <img name="pro_photo" src="s/img/tmpPic.png"/>
                      <input type="file" name="file" accept="image/gif,image/png,image/jpg,image/jpeg">
                    </div>

                    <label>簡介</label>
                    <textarea name="intro" rows="5" class="input-block-level"></textarea>

                    <span style="color:red">*</span>
                    <label>專長</label>
                    <div>
                      <ul id='vetSpecialties' class="edit_type"></ul>
                    </div>

                    <label>學歷</label>
                    <ul>
                      <li><input name='edu_1' type="text" placeholder="學歷1" class="input-block-level"></li>
                      <li><input name='edu_2' type="text" placeholder="學歷2" class="input-block-level"></li>
                    </ul>

                    <label>經歷</label>
                    <ul>
                      <li><input name="exp_1" type="text" placeholder="經歷1" class="input-block-level"></li>
                      <li><input name="exp_2" type="text" placeholder="經歷2" class="input-block-level"></li>
                    </ul>
                  
                  </div>
                   <hr class="bs-docs-separator">
                  <!-- <button class="btn btn-inverse" type="submit">取消</button> -->
                  <a href="#confirmModal" role="button" class="btn btn-danger" data-toggle="modal" onclick="displayData()">建立獸醫</a>
                  <br>
              </div>
            </div>

          </div><!--/accordion-->
        </div><!--/span-->
      </div><!--/row-->

      <div id="confirmModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
            <h3 id="myModalLabel">確認資料</h3>
        </div>
        <div id="modalBody" class="modal-body">
        </div>
        <div class="modal-footer">
          <button class="btn btn-inverse left" data-dismiss="modal" aria-hidden="true">回頭修改</button>
          <button id="nextStep" class="btn btn-large btn-primary" type="submit">確認</button>
        </div>
      </div>   <!--/confirmModal div-->

      <div id='templates' class='specialtySelector templates'>
        <li name='spec_item'>
        <label>種類：</label>
          <select name='species_' class='species'>
            <option value=''>未選擇</option>
          </select>
          <input name="newSpecies" type="text" placeholder="新增種類" class="input-block-level inputNewSpecies">
          <label>專科：</label>
          <select name='category_' class='category'>
          <!-- <option value='一般' class="optionCategory">一般</option> -->
          </select>
          <input name="newCategory" type="text" placeholder="新增專科" class="input-block-level inputNewCategory">
          <!-- <textarea class="inputNewCategory" rows="1" autofocus></textarea> -->
        </li> 
      </div>
    </div><!-- /container -->


   <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/s/js/twzipcode.js"></script>
    <script src="/s/js/showNAddSpecialites.js"></script>    
    <script type="text/javascript">
    var zipLoaded = false;
    var ready = false;
    var species = [];
    var categories = [];
    // var chosenCounty;

    $("document").ready(function(){

      $.ajax({
        url: "/api/v1/hospital",
        type: "GET",
        cache: false
      }).done(function(data){
        createHospialSelect(data);
      });
        

        initSpecialtiesSelection($("#vetSpecialties"), 3, null);

        if(!zipLoaded){
          for (var county in TW_ZIP) {
             $("#selector_county").append('<option value="' + county+ '">' + county + '</option>');
            }
            zipLoaded = true;  
        }

        $("#selector_county").change(function(){
            showArea($("#selector_county").val());
        });

        $("#selector_area").change(function(){
          var county = $("#selector_county").val();
          var area = $("#selector_area").val();
          $("#input_zipCode").val(TW_ZIP[county][area]);
          
        });

      });

      function createHospialSelect(hospitals){
        for (var i in hospitals) {
          var _showStr = "<option value='"+hospitals[i].id+" "+hospitals[i].county+hospitals[i].area+" "+hospitals[i].name+"'>"+hospitals[i].county+hospitals[i].area+" "+hospitals[i].name+"</option>";
          $("select[name=hospitalSelect]").append(_showStr);
        }
      }

      $("#nextStep").click(function (){
          var request2 = { 
              hospital: $("select[name=hospitalSelect]").val().split(" ")[0],
              person: {
                  name: $("input[name=name]").val(),        
                  gender: $('[name="gender"]:checked').val(),         
                  email: $("input[name=email]").val()
              }
          };

          if($("input[name=birthday]").val() != ""){
            request2["birthday"] = $("input[name=birthday]").val();
          }

          if($("input[name=phone]").val() != ""){
            request2["phone"] =  $("input[name=phone]").val();
          }

          if ($("textarea[name=intro]").val() != "") {
            request2["description"] = $("textarea[name=intro]").val();
          }

          // add specialties
          var speciesArray= new Array();
          for (var i = 1; i < 4; i++) {
            var tmpS = $("*[name=species_"+i+"]");
            if(tmpS.val() != ""){
              var _sMap = {"species": tmpS.val(), "category":$("*[name=category_"+i+"]").val()};
              speciesArray.push(_sMap);
            }
          }
          request2["specialties"] = speciesArray;
          
          var _edu = new Array();
          if ($("input[name=edu_1]").val() != "") {
              _edu.push($("input[name=edu_1]").val());
          }
          if ($("input[name=edu_2]").val() != "") {
              _edu.push($("input[name=edu_2]").val());
          }
          request2["education"] = _edu;


          var _exp = new Array();
          if ($("input[name=exp_1]").val() != "") {
              _exp.push($("input[name=exp_1]").val());
          }
          if ($("input[name=exp_2]").val() != "") {
              _exp.push($("input[name=exp_2]").val());
          }
          request2["experience"] = _exp;

          $.ajax({
              url: "/api/v1/vets",
              type: "POST",
              data: JSON.stringify(request2),
              cache: false
          }).done(function(){
              window.location.href="/hospitals";
          });
          return false;
        });

    function showArea(chosenCounty){
      $("#selector_area").empty();
      $("#selector_area").append('<option value="">請選擇</option>');
      for (var area in TW_ZIP[chosenCounty]) {
          var zipCode = TW_ZIP[chosenCounty][area];
         $("#selector_area").append('<option value="' +area+ '">'+ zipCode+" "+ area + '</option>');
      };
    }

    function showCreateHospital(){
        $("div[name=normalUser]").hide();
        $("div[name=createHospital]").slideDown();
    }

    function displayEr(){
        if ($("input[name=er]").is(":checked")) {
            $("div[name=erData]").slideDown();
        }else{
            $("div[name=erData]").slideUp();
        }
    }

    function displayData () { 
        // check data 
        var _hospitalValue = $("select[name=hospitalSelect]").val().split(" ");
        var _hospitalName;
        var _name = $("input[name=name]").val();
        var _genderVal = $('[name="gender"]:checked').val();
        var _birthday = $("input[name=birthday]").val();
        var _tel = $("input[name=phone]").val();
        var _email = $("input[name=email]").val();
            
        var _gender;
        var _isVet;     

        $("#nextStep").show();
        $("#modalBody").empty();

        if(_hospitalValue==""){
           _hospitalName = "請填寫名字";
            $("#nextStep").hide();
        }else{
          _hospitalName =  _hospitalValue[1]+" "+_hospitalValue[2];
        }

        if (_name == "") { 
            _name = "請填寫名字";
            $("#nextStep").hide();
        }

        if (_genderVal != null ) {
            if (_genderVal != "M") {
              _gender = "女";  
            }else{
              _gender = "男";
            }
        }else{
            _gender = "請選擇性別";
            $("#nextStep").hide();
        }


        if(_email == ""){
          _email = "請填寫email";
          $("#nextStep").hide();
        }

      
      $("#modalBody").append("所屬醫院："+_hospitalName+"<br>");
      $("#modalBody").append("姓名："+ _name +"<br>");
      $("#modalBody").append("性別："+ _gender +"<br>");
      $("#modalBody").append("生日："+ _birthday +"<br>");
      $("#modalBody").append("電話："+ _tel +"<br>");
      $("#modalBody").append("電子信箱："+ _email +"<br>");
      $("#modalBody").append("簡介："+ $("textarea[name=intro]").val()+"<br>");

      var _showSpecialty = "<ul>";
      for (var i = 1; i < 4; i++) {
        var _species = $("*[name=species_"+i+"]");
        if(_species.val() != ""){
          _showSpecialty += "<li>" + _species.val();
          _showSpecialty += ":" + $("*[name=category_"+i+"]").val() + "</li>";
        }
      }
      _showSpecialty += "</ul>";
      // TODO temporary disable due to no data available, #31
      //if (_showSpecialty == "<ul></ul>") {
      //  _showSpecialty = "請填寫專長" + "<br>";
      //  $("#nextStep").hide();
      //}
      $("#modalBody").append("專長："+ _showSpecialty);

      var _edu = "<ul>";
      if ($("input[name=edu_1]").val() != "") {
        _edu += "<li>"+$("input[name=edu_1]").val()+"</li>";
      }
      if ($("input[name=edu_2]").val() != "") {
        _edu += "<li>"+$("input[name=edu_2]").val()+"</li>";
      }
      _edu+="</ul>"
      $("#modalBody").append("學歷："+ _edu);      
    
      var _exp = "<ul>";
      if ($("input[name=exp_1]").val() != "") {
        _exp += "<li>"+$("input[name=exp_1]").val()+"</li>";
      }
      if ($("input[name=exp_2]").val() != "") {
        _exp += "<li>"+$("input[name=exp_2]").val()+"</li>";
      }
      _exp+="</ul>"
      $("#modalBody").append("經歷："+ _exp);      

    }

    $("#accordion2 a[name=hLists]").click(function(){
      location.href = "/hospitals/edit";
    });
    </script>

</body>
</html>
  
