
<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <title>Pet Helper - hospitals</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/s/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
    <link href="/s/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/s/css/myFormat.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/s/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/s/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/s/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/s/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="/s/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="/s/ico/favicon.png">
  </head>

  <body>

    {% include 'components/navbar.html' %}
    <div class="container-fluid">
      <div class="row-fluid">
          {% include 'components/side.html' %}

        <div class="span10">
          <div class="container-fluid" id="hospital_div">
          <!-- ORIGINAL WAY TO CREATE HOSPITALS -->
            <!-- {% for h in hospitals %}
            <div class="row-fluid">
                <div class="span2">
                    <img src="/s/img/tmpPic.png" class="img-polaroid" style="margin-top:15px">
                </div>
                <div class="span8">
                <h2>{{ h.name }}</h2>
                <p>{{ h.description }}</p>
                <p><a class="btn btn-info" href="./hospital_detail?id={{ h.key().id() }}">View details &raquo;</a></p> -->
                <!-- </div> --><!--/span-->
            <!-- </div> --><!--/row-->
            <!-- {% endfor %} -->
          </div><!-- /container -->

          <!--<div id='fromAJAX' class="container-fluid">
           當你按了直接搜尋之後 會透過ajax取得所有hospital  name:description 並列在下面：<br />
          </div> --><!-- /container -->
          

        </div><!--/span-->
      </div><!--/row-->
      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>

      <div class="templates">
         <div class="row-fluid" name="hospital_template">
                <div class="span2">
                    <img src="/s/img/tmpPic.png" class="img-polaroid" style="margin-top:15px">
                </div>
                <div class="span8">
                  <h2 name="name">template</h2>
                  <p name="description">template</p>
                  <p><a name="linkTo" class="btn btn-info" href="">View details &raquo;</a></p>
                </div><!--/span-->
          </div><!--/row-->
      </div>

    </div><!--/.fluid-container-->

    <script src="/s/js/jQuery-URL-Parser/purl.js"></script>
    <script language='JavaScript'>
    $(document).ready(function showHospital(){
        var q = $.url().param('q');
        var search_url = "/api/v1/hospital";
        if (q != undefined) {
            $('#name_search').val(q);
            search_url += '?name=*' + q;
        }
        //get hospital list
        $.ajax({
          url: search_url,
          type: "GET",
          cache: false
        }).done(function(data){
          createHospitals(data);
        });
    });

    function nameSearch() {
        $("#hospital_div").html("Searching...");
        $.ajax({
            url: "/api/v1/hospital?name=*" + $('#name_search').val() + "*",
            type: "GET",
            cache: false
        }).done(function(data){
          createHospitals(data);
        });
    }

    function createHospitals(_data){
      $("#hospital_div").empty();
      var hospitals = jQuery.parseJSON(_data);
      for(i in hospitals){
          var h = $("div[name=hospital_template]").last().clone();
          h.find("h2[name=name]").text(hospitals[i].name);
          h.find("p[name=description]").text(hospitals[i].description);
          h.find("a[name=linkTo]").attr("href", "./hospital/" + hospitals[i].id);
          $("#hospital_div").append(h);
      }
    }

   /* Example for Yun-Tai */
    // function showHospitals(){
    //     $.ajax({
    //         url: "/api/v1/hospital",
    //         type: 'GET',
    //         cache: false
    //     }).done(function( data ) {
    //         var hospitals = jQuery.parseJSON(data);
    //         for(i in hospitals){
    //             $("#fromAJAX").append("<p>"+hospitals[i].name+":"+hospitals[i].description+":"+hospitals[i].specialty+"</p>");
    //         }
    //     });
    // }
    </script>
  </body>
</html>
