<div class="container-fluid " id="hospital_div">
<!--
<a class="list_btn right" href="#" data-slide="next" name="h_next_btn" style="display:none;">&rsaquo;</a>
<a class="list_btn left" href="#" data-slide="prev" name="h_prev_btn" style="display:none;">&lsaquo;</a>
-->
<a name="list_menu" class="btn" href="#" style="display:none;padding:0px 20px 5px 20px;"><i class="icon-align-justify"></i></a>
</div><!-- /container -->

<div class="templates">

    <div class="hospital_frame" name="hospital_template">
      <div class="span2">
          <img src="/s/img/tmpPic.png" class="img-polaroid" style="margin-top:15px">
      </div>
        <div class="span7" name="hospital_info">
          <h2 name="name">template</h2> 
          <p name="address"><i class='icon-home'></i>address</p>
          <a name="linkTo" class="btn btn-info" href="">View details &raquo;</a>
          <a name="edit_mode" class="btn btn-small btn-danger" type="button">編輯</a>
        </div> 
        <!--
        <div class="span1 pull-right" name="icon_status">
          <a class="btn-danger btn right top" disabled><i class="icon-white icon-plus"></i></a>
          <a href="#" class="btn btn-warning right top" name="favorite_btn"><i class="icon-star"></i></a>
        </div>
        -->
        <!--/span-->
        <div class="clearfix"></div>
      </div><!--/row-->

</div>

<script type="text/javascript">
  $("a[name=edit_mode]").hide();
</script>


