<div class="container-fluid " id="hospital_div">


</div><!-- /container -->
<a name="list_menu" class="btn" href="#" style="width:90%;display:none;padding:0px 20px 5px 20px;"><i class="icon-align-justify"></i></a>
<div class="templates">
    <div class="hospital_frame row-fluid" name="hospital_template" style="width:95%;">
      <div class="span2">
          <img src="/s/img/tmpPic.png" class="img-polaroid" style="margin-top:15px">
      </div>
        <div class="span6">
          <h2 name="name">template</h2>
          <p name="description">template</p>
          <a name="linkTo" class="btn btn-info" href="">View details &raquo;</a>
        </div>
        <!--/span-->
      </div><!--/row-->
</div>


