<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <title>Pet Helper - edit post</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/s/css/bootstrap.css" rel="stylesheet">
    <link href="/s/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/s/css/myFormat.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/s/js/html5shiv.js"></script>
    <![endif]-->
    
    <link href="/s/compass/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/s/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/s/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/s/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/s/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/s/ico/favicon.png">
  </head>

  <body>

    {% include 'components/navbar.html' %}
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">工具</li>
              <li><a type= "button" class="btn-danger">Dummy 1</a></li>
              <li class="divider"></li>
              <li><a type= "button" class="btn-danger">Dummy 2</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span6">
          <input id="input-image" type="file" accept='image/*' style="display:none" /> 
          <select id="hospital-list" style="display:none"></select>
          <select id="vet-list" style="display:none"></select>
          <ul class="post">  
            <li class="row">
              <div class="post-info">
                <div class="post-delete"><a href="#" class="btn btn-warning">X</a></div>
                <div class="post-title">Title</div>
                <div class="post-desc">Description</div>
                <div class="post-edit"><a href="#" class="btn btn-success">Edit</a></div>
                <div class="post-save"><a href="#" class="btn btn-success">Save</a></div>
              </div>  
            </li>
            <li class="row post-listitem-template" style="display:none">
              <div class="post-item">
                <div class="post-item-delete"><a href="#" class="btn btn-warning">X</a></div>  
                <div class="post-item-image">Click to add photo</div>
                <div class="post-item-text">The quick brown fox jumps over the lazy dog</div>
              </div>  
            </li>
            <li class="row">  
              <div class="post-add-item">
                <a href="#" class="btn btn-success">Add</a>
              </div>  
            </li>  
          </ul>
        </div><!--/span-->
      </div><!--/row-->
      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>
    </div>

<script src="/s/js/jQuery-URL-Parser/purl.js"></script>
<script src="/s/js/jquery.jeditable.mini.js"></script>
<script language='JavaScript'>
    $('#input-image').on("change", function() {
      var files = !!this.files ? this.files : [];
      if (!files.length || !window.FileReader || !/^image/.test(files[0].type)) {
        return;
      }
      var reader = new FileReader();
      reader.readAsDataURL(files[0]);
      reader.onloadend = function() {
        postInfo.li.attr('imageUrl', this.result);
        var imageDiv = postInfo.li.find('.post-item-image');
        imageDiv.text("");
        imageDiv.css("background-image", "url(" + this.result + ")");
        delete postInfo.li;
      }
      newAttachment(postInfo.li, postInfo.li.find('.post-item-text').text(), -1, files[0]);
    });

    $('.post-delete').click(function() {
      if (confirm("Are you sure to delete this post?")) {
        deletePost();
      }
    });
    $('.post-edit').click(function() {
      editPost();
    });
    $('.post-save').click(function() {
      savePost();
    });

    $('.post-add-item').click(function() {
      //TODO: default text?
      addItem(true, "");
    });
    
    function addItem(editable, content, attachedid, photoid) {
      var li = $('.post-listitem-template').clone();      
      li.removeAttr('style')
        .removeClass('post-listitem-template')
        .addClass('post-listitem');

      if (attachedid) {
        li.attr('attachedid', attachedid);
      }
      li.find('.post-item-text').text(content);
      $('.post-add-item').parent().before(li);
      if (editable) {
        setItemHandler(li);
      }
      else {
        li.find('.post-item-delete').hide();
      }
      
      setPhoto(li, photoid, editable);
    }
    
    function setItemHandler(li) {
      li.find('.post-item-text').editable(function(value, settings) {
        //saveAttachment(li, value);
        return(value);
        }, { 
        type      : 'textarea',
        submit    : 'OK',
        tooltip   : 'Item'
      });
      li.find('.post-item-image').click(function() {
        var li = $(this).closest('li');
        if (li.attr('imageUrl')) {
          return;
        }
        postInfo.li = li;
        $("#input-image").click();
      });
      li.find('.post-item-delete').click(function() {
        var li = $(this).closest('li');
        if (li.attr('attachedid')) {
          deleteAttachment(li.attr('attachedid'));
        }
        li.remove();
      });
    }
    
    var postInfo = {};
    
    $(document).ready(function() {
      postInfo.id = window.location.pathname.split("/")[2];
      if (postInfo.id) {
        getPost(postInfo.id);
      }
      else {
        newPost();
      }
    });
    
    function deletePost() {
      //TODO: back to where?
      var url = "/";
      if (postInfo.id) {
        $.ajax({
          url: "/api/v1/post/" + postInfo.id,
          type: "DELETE"
        }).done(function(data) {
          window.location.href=url;
        });
      }
      else {
        window.location.href=url;
      }
    }

    function newPost() {
      //TODO: default title/content text?
      saveDraft();
    }

    function getHospitals() {
      $.ajax({
        url: "/api/v1/hospital",
        type: "GET",
        cache: false
      }).done(function(data) {
        $('#hospital-list').show();
        for (var i = 0; i < data.length; i++) {
          var option = '<option value="' + data[i].id + '">' + data[i].name + '</option>';
          $('#hospital-list').append(option);
        }
      });
    }
    
    function getVets() {
      $.ajax({
        url: "/api/v1/person/vet",
        type: "GET",
        cache: false
      }).done(function(data) {
        $('#vet-list').show();
        for (var i = 0; i < data.length; i++) {
          var option = '<option value="' + data[i].id + '">' + data[i].name + '</option>';
          $('#vet-list').append(option);
        }
      });
    }
    
    function setPhoto(li, photoid, editable) {
      var imageDiv = li.find('.post-item-image');
      if (!photoid) {
        if (!editable) {
          // text item
          imageDiv.hide();
        }
        else {
          // new item
        }
        return;
      }
    
      // photo item
      li.attr('imageUrl', photoid);
      imageDiv.text("");
      imageDiv.css("background-image", "url(/api/v1/image/" + photoid + ")");
    }

    function getPost(id) {
      $('.post-info').hide();
      $('.post-add-item').hide();
      $.ajax({
        url: "/api/v1/post/" + id,
        type: "GET",
        cache: false
      }).done(function(data) {
        postInfo.data = data;
        postInfo.postid = data.id;
        postInfo.publish = data.statusCode;
        showPost();
      });
      //TODO: show error if not found
    }
    
    function sortAttaches(a1, a2){
      return (a1.order == a2.order) ? 0 : (a1.order < a2.order) ? -1 : 1;
    }

    function showPost() {
      $('.post-info').show();
      $('.post-edit').show();
      $('.post-save').hide();
      $('.post-delete').hide();
      $('.post-add-item').hide();
      $('.post-title').text(postInfo.data.title);
      $('.post-desc').text(postInfo.data.content);
      
      postInfo.data.attaches.sort(sortAttaches);
      for (var i = 0; i < postInfo.data.attaches.length; i++) {
        var attach = postInfo.data.attaches[i];
        if (attach.order < 0) {
          deleteAttachment(attach.id);
          continue;
        }
        
        if (attach.aphotos && attach.aphotos.length > 0) {
          addItem(false, attach.content, attach.id, attach.aphotos[0].id);
        }
        else {
          addItem(false, attach.content, attach.id);
        }
      }
    }

    function editPost() {
      $('.post-info').show();
      $('.post-edit').hide();
      $('.post-save').show();
      $('.post-delete').show();
      $('.post-add-item').show();
      $('.post-title').editable(function(value, settings) { 
        return(value);
        }, {
        tooltip   : 'Title'
      });
      $('.post-desc').editable(function(value, settings) { 
        return(value);
        }, { 
        type      : 'textarea',
        submit    : 'OK',
        tooltip   : 'Description'
      });
        
      $('.post-listitem').each(function(i, obj) {
          $(this).find('.post-item-delete').show();
        setItemHandler($(this));
      });
    }

    function saveDraft() {
      $('.post-info').hide();
      $('.post-add-item').hide();
      $.ajax({
        url: "/api/v1/posts",
        type: "POST",
        data: {
          title: $('.post-title').text(),
          content: $('.post-desc').text(),
          publish: 0
        },
        cache: false
      }).done(function(data){
        postInfo.postid = data.postid;
        postInfo.publish = 0;
        getHospitals();
        getVets();
        editPost();
      });
    }

    function savePost() {
      var data = {
        title: $('.post-title').text(),
        content: $('.post-desc').text(),
        publish: (0 == postInfo.publish) ? 1 : 2
      };
      
      //TODO: get hospital id from user?
      if ($('#hospital-list').val() && $('#hospital-list').val().length > 0) {
        data.hospitalid = parseInt($('#hospital-list').val());
      }

      //TODO: get person id from user?
      if ($('#vet-list').val() && $('#vet-list').val().length > 0) {
        data.personid = parseInt($('#vet-list').val());
      }
      
      $.ajax({
        url: "/api/v1/post/" + postInfo.postid,
        type: "PUT",
        data: JSON.stringify(data),
        cache: false
      }).done(function(data){
        saveAttachments();
      });
    }
    
    function saveAttachment(li, content, order) {
      if (li.attr('attachedid')) {
        updateAttachment(li.attr('attachedid'), content, order);
      }
      else {
        newAttachment(li, content, order);
      }
    }

    function newAttachment(li, content, order, img) {
      $.ajax({
        url: "/api/v1/file/post/" + postInfo.postid + "/attaches",
        type: "GET",
        cache: false
      }).done(function(data) {
        var postData = new FormData();
        postData.append('title', '');
        postData.append('content', content);
        postData.append('order', order);
        if (img) {
          postData.append('img', img);
        }
        $.ajax({
          url: data.url,
          type: "POST",
          data: postData,
          //contentType: 'multipart/form-data',
          //mimeType: 'multipart/form-data',
          contentType: false,
          processData: false,
          cache: false
        }).done(function(data) {
          li.attr('attachedid', data.attachedid);
        });      
      });
    }

    function updateAttachment(attachedid, content, order) {
      if (!attachedid) {
        return;
      }

      var data = {
        "title": "",
        "content": content,
        "order": order
      };
      $.ajax({
        url: "/api/v1/post/" + postInfo.postid + "/attach/" + attachedid,
        type: "PUT",
        data: JSON.stringify(data),
        cache: false
      }).done(function(data){
      });
    }

    function saveAttachments() {
      $('.post-listitem').each(function(i, obj) {
        saveAttachment($(this), $(this).find('.post-item-text').text(), i);
      });

      $("body").ajaxStop(function() {
        window.location.href="/post/" + postInfo.postid;
      });
    }
    
    function deleteAttachment(attachedid) {
      $.ajax({
        url: "/api/v1/post/" + postInfo.postid + "/attach/" + attachedid,
        type: "DELETE"
      }).done(function(data) {
      });
    }
</script>

  </body>
</html>
