<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <title>Pet Helper - edit post</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/s/css/bootstrap.css" rel="stylesheet">
    <link href="/s/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/s/css/myFormat.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/s/js/html5shiv.js"></script>
    <![endif]-->
    
    <link href="/s/compass/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/s/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/s/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/s/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/s/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/s/ico/favicon.png">
  </head>

  <body>

    {% include 'components/navbar.html' %}
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">工具</li>
              <li><a type= "button" class="btn-danger">Dummy 1</a></li>
              <li class="divider"></li>
              <li><a type= "button" class="btn-danger">Dummy 2</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span6">
          <select id="hospital-list" style="display:none"></select>
          <select id="vet-list" style="display:none"></select>
          <ul class="post">  
            <li class="row">
          	  <div class="post-info">
                <div class="post-delete"><a href="#" class="btn btn-warning">X</a></div>
                <div class="post-title">Title</div>
                <div class="post-desc">Description</div>
                <div class="post-edit"><a href="#" class="btn btn-success">Edit</a></div>
                <div class="post-save"><a href="#" class="btn btn-success">Save</a></div>
              </div>  
            </li>
            <li class="row post-item-template" style="display:none">
          	  <div class="post-item">
                <div class="post-item-delete"><a href="#" class="btn btn-warning">X</a></div>  
                <img src="photo.jpg" alt="photo">
                <div class="post-item-text">The quick brown fox jumps over the lazy dog</div>
              </div>  
            </li>
            <li class="row">  
          	  <div class="post-add-item">
                <a href="#" class="btn btn-success">Add</a>
              </div>  
            </li>  
          </ul>
        </div><!--/span-->
      </div><!--/row-->
      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>
    </div>

<script src="/s/js/jQuery-URL-Parser/purl.js"></script>
<script src="/s/js/jquery.jeditable.mini.js"></script>
<script language='JavaScript'>
    $('.post-delete').click(function() {
      alert("No api yet");
    });
    $('.post-edit').click(function() {
      editPost();
    });
    $('.post-save').click(function() {
      savePost();
    });

    $('.post-add-item').click(function() {
      var li = $('.post-item-template').clone();
      console.log("li=" + li);
      li.removeAttr('style')
           .removeClass('post-item-template');
      $('.post-add-item').parent().before(li);
      setItemHandler(li);
    });
    
    function setItemHandler(li) {
      li.find('.post-item-text').editable(function(value, settings) { 
        return(value);
  	  }, { 
        type      : 'textarea',
        submit    : 'OK',
        tooltip   : 'Item'
      });
      li.find('.post-item-delete').click(function() {
        $(this).closest('li').remove();
      });
    }
    
    var postInfo = {};
    
    $(document).ready(function() {
	  postInfo.id = window.location.pathname.split("/")[2];
	  if (postInfo.id) {
	    getPost(postInfo.id);
	  }
	  else {
	    newPost();
	  }
	});

	function newPost() {
	  getHospitals();
	  getVets();
	  //TODO: default title/content text?
	  editPost();
	}

	function getHospitals() {
      $.ajax({
        url: "/api/v1/hospital",
        type: "GET",
        cache: false
      }).done(function(data) {
        $('#hospital-list').show();
        for (var i = 0; i < data.length; i++) {
          var option = '<option value="' + data[i].id + '">' + data[i].name + '</option>';
          $('#hospital-list').append(option);
        }
      });
    }
    
	function getVets() {
      $.ajax({
        url: "/api/v1/person/vet",
        type: "GET",
        cache: false
      }).done(function(data) {
        $('#vet-list').show();
        for (var i = 0; i < data.length; i++) {
          var option = '<option value="' + data[i].id + '">' + data[i].name + '</option>';
          $('#vet-list').append(option);
        }
      });
    }

	function getPost(id) {
	  $('.post-edit').hide();
	  $('.post-save').hide();
	  $('.post-delete').hide();
	  $('.post-add-item').hide();
      $.ajax({
        url: "/api/v1/post/" + id,
        type: "GET",
        cache: false
      }).done(function(data) {
        showPost(data);
      });
	  //TODO: attachments
	}
	
	function showPost(data) {
	  $('.post-edit').show();
	  console.log("data=" + JSON.stringify(data));
	  $('.post-title').text(data.title);
	  $('.post-desc').text(data.content);
	  //TODO: attachments
	}

	function editPost() {
	  $('.post-edit').hide();
	  $('.post-save').show();
	  $('.post-delete').show();
	  $('.post-add-item').hide();
	  $('.post-title').editable(function(value, settings) { 
        return(value);
  	  }, {
        tooltip   : 'Title'
      });
      $('.post-desc').editable(function(value, settings) { 
        return(value);
  	  }, { 
        type      : 'textarea',
        submit    : 'OK',
        tooltip   : 'Description'
      });
	  //TODO: attachments
    }

    function savePost() {
      if (postInfo.id) {
        var data = {
          "title": $('.post-title').text(),
          "content": $('.post-desc').text(),
          "publish": 1
        };
        $.ajax({
          url: "/api/v1/post/" + postInfo.id,
          type: "PUT",
          data: JSON.stringify(data),
          cache: false
        }).done(function(data){
          window.location.href="/post/" + postInfo.id;
        });
      }
      else {
        //TODO: personId/hospitalId?
        $.ajax({
          url: "/api/v1/posts",
          type: "POST",
          data: {
            hospitalid: $('#hospital-list').val(),
            personid: $('#vet-list').val(),
            title: $('.post-title').text(),
            content: $('.post-desc').text(),
            publish: 1
          },
          cache: false
        }).done(function(data){
          var postid = data.postid;
          window.location.href="/post/" + postid;
        });
      }
    }
</script>

  </body>
</html>
