<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <title>Pet Helper - view post</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/s/css/bootstrap.css" rel="stylesheet">
    <link href="/s/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/s/css/myFormat.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/s/js/html5shiv.js"></script>
    <![endif]-->
    
    <link href="/s/compass/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/s/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/s/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/s/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/s/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/s/ico/favicon.png">
  </head>

  <body>

    {% include 'components/navbar.html' %}
    <div class="container-fluid">
      <div class="row-fluid">
        {% include 'components/side.html' %}
        <div class="span6">
          <a class="btn" style="margin:10px;"><i class="icon-arrow-left"></i>back</a>

          <ul class="post">  
            <li class="row">
              <div class="post-info">
                <div class="post-title">Title</div>
                <div class="post-desc">Description</div>
              </div>  
            </li>
            <li class="row post-listitem-template" style="display:none">
              <div class="post-item">
                <div class="post-item-image">Click to add photo</div>
                <div class="post-item-text">The quick brown fox jumps over the lazy dog</div>
              </div>  
            </li>
            <li class="row">  
              <div class="post-add-item" style="display:none">
                <a href="#" class="btn btn-success">Add</a>
              </div>  
            </li>  
          </ul>
        </div><!--/span-->
      </div><!--/row-->
      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>
    </div>

<script src="/s/js/jQuery-URL-Parser/purl.js"></script>
<script src="/s/js/jquery.jeditable.mini.js"></script>
<script language='JavaScript'>
    function nl2br(str) {
      //return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + '<br>' + '$2');
      return (str + '').replace(/\n/g, '<br>');
    } 

    function addItem(editable, content, attachedid, photoid) {
      var li = $('.post-listitem-template').clone();      
      li.removeAttr('style')
        .removeClass('post-listitem-template')
        .addClass('post-listitem');

      if (attachedid) {
        li.attr('attachedid', attachedid);
      }
      li.find('.post-item-text').html(content);
      $('.post-add-item').parent().before(li);
      
      setPhoto(li, photoid, editable);
    }
    
    function getQueryParams(qs) {
      qs = qs.split("+").join(" ");
      var params = {}, tokens,
        re = /[?&]?([^=]+)=([^&]*)/g;

      while (tokens = re.exec(qs)) {
        params[decodeURIComponent(tokens[1])]
          = decodeURIComponent(tokens[2]);
      }
      return params;
    }

    var postInfo = {};
    //var params = getQueryParams(document.location.search);

    $(document).ready(function() {
      postInfo.id = window.location.pathname.split("/")[2];
      if (postInfo.id) {
        getPost(postInfo.id);
      }
    });

    function setPhoto(li, photoid, editable) {
      var imageDiv = li.find('.post-item-image');
      if (!photoid) {
        if (!editable) {
          // text item
          imageDiv.hide();
        }
        else {
          // new item
        }
        return;
      }
    
      // photo item
      li.attr('imageUrl', photoid);
      imageDiv.text("");
      imageDiv.css("background-image", "url(/api/v1/image/" + photoid + ")");
    }

    function getPost(id) {
      $('.post-info').hide();
      $.ajax({
        url: "/api/v1/post/" + id,
        type: "GET",
        cache: false
      }).done(function(data) {
        postInfo.data = data;
        postInfo.postid = data.id;
        postInfo.publish = data.statusCode;
        showPost();
      });
      //TODO: show error if not found
    }
    
    function sortAttaches(a1, a2){
      return (a1.order == a2.order) ? 0 : (a1.order < a2.order) ? -1 : 1;
    }

    function showPost() {
      $('.post-info').show();
      $('.post-title').text(postInfo.data.title);
      $('.post-desc').html(nl2br(postInfo.data.content));
      
      postInfo.data.attaches.sort(sortAttaches);
      for (var i = 0; i < postInfo.data.attaches.length; i++) {
        var attach = postInfo.data.attaches[i];
        if (attach.order < 0) {
          continue;
        }
        
        if (attach.aphotos && attach.aphotos.length > 0) {
          addItem(false, nl2br(attach.content), attach.id, attach.aphotos[0].id);
        }
        else {
          addItem(false, nl2br(attach.content), attach.id);
        }
      }
    }

</script>

  </body>
</html>
