
<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <title>Sign in &middot; Twitter Bootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/s/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-signin {
        max-width: 500px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

      div.container label{
        display: inline;
      }

    </style>
    <link href="/s/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/s/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
   <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/s/ico/apple-touch-icon-144-precomposed.png">
   <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/s/ico/apple-touch-icon-114-precomposed.png">
   <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/s/ico/apple-touch-icon-72-precomposed.png">
   <link rel="apple-touch-icon-precomposed" href="/s/ico/apple-touch-icon-57-precomposed.png">
   <link rel="shortcut icon" href="/s/ico/favicon.png">

    <link href="/s/css/myFormat.css" rel="stylesheet">
  </head>

  <body>
    
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Pets FAQ</a>
          <!-- <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="../about.html">論壇</a></li>
              <li class="avtive"><a href="../medical_help/hospitals.html">醫療資訊</a></li>
              <li><a href="#contact">聯絡我們</a></li>
            </ul>
          </div> --><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <form id="myForm" class="form-signin" action="reg_step1" method="post">
        <div>
          <h3>個人資料</h3>
              <span style="color:red">*</span>
              <label>姓名</label>
              <input name="name" type="text" class="input-block-level" placeholder="姓名">

          <div>
            <span style="color:red">*</span>
            <label>性別</label>
            <div>
              <label class="radio inline">
                <input type="radio" name="gender" value="M">
                  男
              </label>
              <label class="radio inline">
                <input type="radio" name="gender" value="F">
                  女
              </label>
            </div>
          </div>

             <br> 
            <label>生日</label>
            <input name="birthday" type="text" class="input-block-level" placeholder="西元年/月/日">

      
            <label>電話</label>
            <input name="phone" type="text" class="input-block-level" placeholder="電話">

            <span style="color:red">*</span>
            <label style="display:inline">電子信箱</label>
            <input name="email" type="text" class="input-block-level" placeholder="電子信箱">

            <label>照片</label>
             <!-- <input name="photo" type="image" src='s/img/tmpPic.png' class="image" >-->
             <img name="pro_photo" src="s/img/tmpPic.png"/>
              <input type="file" name="file" accept="image/gif,image/png,image/jpg,image/jpeg">
        </div>

        <br>
        <div>
           <h3>你是獸醫嗎？</h3>
            <label class="radio inline">
              <input type="radio" name="isVet" value="Y">
                是
            </label>
            <label class="radio inline">
              <input type="radio" name="isVet" value="N">
                不是
            </label>
        </div>
          <br>
        
        <hr class="bs-docs-separator">
        <!-- <button class="btn" type="submit">上一步</button> -->
        <!-- <a name="checkdata" href="#confirmModal" role="button" class="btn btn-large btn-primary right" data-toggle="modal" onclick="displayData()">下一步</a> -->
        <a name="checkdata" href="#confirmModal" role="button" class="btn btn-large btn-primary right" data-toggle="modal">下一步</a>
        <br>
        <br>
      

      <div id="confirmModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
            <h3 id="myModalLabel">確認資料</h3>
        </div>
        <div id="modalBody" class="modal-body">
        </div>
        <div class="modal-footer">
          <button class="btn btn-inverse left" data-dismiss="modal" aria-hidden="true">回頭修改</button>
          <button id="nextStep" class="btn btn-large btn-primary" type="submit">確認，下一步</button>
        </div>
      </div>   <!--/confirmModal div-->

      </form>
    </div> <!-- /container -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
    <script src="/s/js/bootstrap.js"></script>

    <script>
    var reader;
      $(document).ready(function(){
        /**zmin select picture file handler**/
        $("input:file").change(function (e){
            
            reader=new FileReader();
            reader.addEventListener("load",loadendHandler);
            reader.readAsDataURL(e.target.files[0]);
        });
        /**zmin select picture file handler**/
        /**zmin update photo**/
        $("#nextStep").click(function(e){
          //alert("into");
          $.post();

          
          return;
        });

        /**zmin update photo(end)**/
        $("a[name=checkdata]").click(function(){
            var _name = $("input[name=name]").val();
            var _genderVal = $('[name="gender"]:checked').val();
            var _birthday = $("input[name=birthday]").val();
            var _tel = $("input[name=phone]").val();
            var _email = $("input[name=email]").val();
            var _isVetVal = $('[name="isVet"]:checked').val();
            
            var _gender;
            var _isVet;     
    
            // check data 

            $("#nextStep").show();
            $("#modalBody").empty();

            if (_name == "") { 
              _name = "請填寫名字";
              $("#nextStep").hide();
            }

            if (_genderVal != null ) {
                if (_genderVal != "M") {
                  _gender = "女";  
                }else{
                  _gender = "男";
                }
            }else{
                _gender = "請選擇性別";
                $("#nextStep").hide();
            }

            // if (_birthday == "") {
            //   _birthday = "請填寫生日";
            //   $("#nextStep").hide();
            // }

            // if(_tel == ""){
            //   _tel = "請填寫電話";
            //   $("#nextStep").hide();
            // }

            if(_email == ""){
              _email = "請填寫email";
              $("#nextStep").hide();
            }
            
            if (_isVetVal != null ) {
              if (_isVetVal  != "Y") {
                _isVet = "不是";  
              }else{
                _isVet = "是";
              }
            }else{
              _isVet = "請選擇是否為獸醫？";
              $("#nextStep").hide();
            }

            $("#modalBody").append("姓名："+ _name +"<br>");
            $("#modalBody").append("性別："+ _gender +"<br>");
            $("#modalBody").append("生日："+ _birthday +"<br>");
            $("#modalBody").append("電話："+ _tel +"<br>");
            $("#modalBody").append("電子信箱："+ _email +"<br>");
            $("#modalBody").append("是否為獸醫："+ _isVet +"<br>");
        });


      });
      /**zmin load photo to html**/
      function loadendHandler(){
        //alert('into');
        $("img[name=pro_photo]").attr('src',reader.result);

      }
      
    </script> 
  </body>
</html>
