<!DOCTYPE HTML>
<html>
<head>
<title>寵物通</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="./s/style.css">
<style>
</style>
</head>
<body>
<header id="header">
    寵物通
</header>

<div>
<ul>
<li>
    <a href="/register_google">使用 google 帳號登入</a>
<li>
    <form action="/register" method="post">
        <div>帳號：<input name="myEmail" type="text"/></div>
        <div>密碼：<input name="myPassword" type="password"/></div>
        <div>確認密碼：<input name="myPassword2" type="password"/></div>
        <input type="submit" value="註冊" disabled>
    </form>
</li>
</ul>

</div>

<div class="adsense">
廣告
</div>

<footer>
</footer>
</body>
</html>
