<div class="container-fluid" id="vets">

              <!-- place for vets -->
</div><!-- /container -->
   <div class="templates">
      <div class="hospital_frame" name="hospital_detail_template">
        <div name="hospital_detail_collapse">
          <div class="span2">
              <img src="/s/img/tmpPic.png" class="img-polaroid" style="margin-top:15px">
          </div>
          <div class="span7" name="hospital_info">
            <h2 name="name">template</h2> 
            <p name="address"><i class='icon-home'></i>address</p>
            <!--<a name="edit_mode" class="btn btn-small btn-danger" type="button">編輯</a>-->
            <div name="hospital_detail">
              <p name="description">template</p>
              <p name="phone"></p>
              <span name="office_hours">看診時間:</span>
              <ul>
               周一到周五: 9:00-12:00 &nbsp 14:30-17:00
               周六: 08:00-12:00
              周日公休
              </ul>
            </div>
          </div> 
        </div>
        <!--
        <div class="span1 pull-right" name="icon_status">
          <a class="btn-danger btn right top" disabled><i class="icon-white icon-plus"></i></a>
          <a href="#" class="btn btn-warning right top" name="favorite_btn"><i class="icon-star"></i></a>
        </div>
        -->
        <!--/span-->
        <div class="clearfix"></div>
      </div><!--/row-->

        <div class="row-fluid browse_type" name="oneVet">
            <div class="span2">
              <img src="/s/img/tmpPic.png" class="img-polaroid" style="margin-top:15px">
            </div>
            <div class="span8">
              <h2><span name="vet_name"><!-- vet name --></span>
         
                  <small><a href="#">Blog</a></small>
              </h2> 
              <p><span name="vet_desc"><!-- vet desc --></span>
              </p>
              <dl name="exp">
                <dt>學經歷</dt>
              </dl>
              <dl name="specialty">
                <dt>專長</dt>
              </dl>
              <button type="button" class="btn btn-info" data-target="#nameCard_" data-toggle="collapse">
              <!-- <button class="btn btn-info" name="nameCardBtn_"> -->
                    名片
              </button>
             
              <div id="nameCard_" class="collapse">
                <address>
                  <br>
                  <strong><span name="vet_name">vet name</span></strong><br>
                    <a href="mailto:#"><span name="vet_mail">vet@mail</span></a>
                  
                    <span name="hospital_name"><!-- hospital name --></span><br>
                    看診時間：9:00-21:00 <br>
                    電話：<span class='phone'><!-- hospital phone --></span><br>
                    地址：<span class='address'><!-- hopital address --></span><br>
                    <ul>
                      <li>可預約、可急診</li>
                      <li>急診條件：20:00-24:00</li>
                    </ul>
                </address>
              </div>
            </div><!--/span-->
        </div><!--/row-->
    </div>