        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">找醫院</li>
              <li class="active"><a href="#">ㄅ-ㄌ</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">找醫生</li>
              <li><a href="#">頭部</a></li>
              <li><a href="#">腹部</a></li>
              <li><a href="#">四肢</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->

