         <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">新增工具</li>
              <li><button name="createHospital_btn" class="btn-danger btn-small">新增醫院</button></li>
              <br>
              <li><button name="createVet_btn" class="btn-danger btn-small">新增醫生</button></li>
              <br>
              <li><button name="createPost_btn" type= "button" class="btn-danger btn-small">新增文章</button></li>
              <li class="divider"></li>

              <!-- <li><a >編輯模式</a></li> -->
              <!-- <li class="divider"></li> -->
            </ul>
          </div><!--/.well -->
         </div>

<script type="text/javascript">
$(document).ready(function(){
		
  $("button[name=createHospital_btn]").click(function(){
    //$("a[name=createHospital_btn]").attr("href", "/createHospital");
      location.href = "/createHospital";
  });

  $("button[name=createVet_btn]").click(function(){
    //$("a[name=createVet_btn]").attr("href", "/createVet");
      location.href = "createVet";
  });
		
  $("button[name=createPost_btn]").click(function(){
    //$("a[name=createVet_btn]").attr("href", "/createVet");
      location.href = "new_post";
  });

});
		 

</script>
         
