         <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">工具</li>
              <li><a type= "button" class="btn-danger">新增醫院</a></li>
              <br>
              <li><a type= "button" class="btn-danger">新增醫生</a></li>
              <br>
              <li><a type= "button" class="btn-danger">新增文章</a></li>
              <li class="divider"></li>

              <!-- <li><a >編輯模式</a></li> -->
              <!-- <li class="divider"></li> -->
            </ul>
          </div><!--/.well -->
         </div>