        <div class="span2">
          <div class="well sidebar-nav">
            

            <ul class="nav nav-list">
              <!-- <form class="form-search"> -->
              <li class="nav-header">搜尋醫院、醫生</li>
              <li class="divider"></li>
              <div class="input-append">
                <input class="span7" id="appendedInputButtons" type="text" placeholder="直接搜尋">
                <button class="btn btn-info" type="button" onClick="showHospitals();"><i class="icon-search icon-white"></i></button>
              </div>    
              <li class="divider"></li>
                <!-- </form> -->
                <!-- <li class="nav-header">找醫院</li> -->
                <div>
                  <li><button class="btn btn-primary">按地區 <i class="icon-chevron-right icon-white"></i></button></li>
                  <li class="divider"></li>
                </div>

                <div>
                  <li><button class="btn btn-primary">按科別 <i class="icon-chevron-right icon-white"></i></button></li>
                  <li class="divider"></li>
                </div>
                
                <div>
                  <li><button class="btn btn-primary">按種類 <i class="icon-chevron-right icon-white"></i></button></li>
                  <li class="divider"></li>
                </div>
              <!--   <div>
                  <li><a class="btn btn-primary" href="#">所有地區 <i class="icon-chevron-right icon-white"></i></a></li>
                  <li class="divider"></li>
                </div>

                <div>
                  <li><a class="btn btn-primary" href="#">科別 <i class="icon-chevron-right icon-white"></i></a></li>
                  <li class="divider"></li>
                </div>
                
                <div>
                  <li><a class="btn btn-primary" href="#">動物種類 <i class="icon-chevron-right icon-white"></i></a></li>
                  <li class="divider"></li>
                </div> -->
                
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
